/* COMPONENTE CARD FILM */
.card-img-top {
  height: 100%;
  object-fit: cover;
}

.card {
  border: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card-title {
  font-weight: 600;
  font-size: 1.2rem;
}

.card-text {
  font-style: italic;
  color: #6c757d;
}

